.radio {

    &-label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &_checked {

            .radio-wrapper {
                &_rectangle {
                    color: white;
                    background-color: black;
                    transition: 0.3s ease;
                }

                &_square {
                    .radio-wrapper__decorate-item {
                        &::after {
                            content: '';
                            display: block;
                            width: 65%;
                            height: 65%;
                            background-color: rgb(26 26 26);
                        }
                    }
                }
            }
        }
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: Titillium;
        font-weight: 600;
        justify-self: center;
        transition: 0.3s ease;

        &_rectangle {
            width: 105px;
            height: 35px;
            border: 1px solid rgb(26 26 26);
        }

        &_square {
            gap: 0 10px;

            .radio-wrapper__decorate-item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border: 1px solid rgb(204 204 204);
            }
        }
    }

    &-button {
        cursor: pointer;
        position: absolute;
        opacity: 0;
    }
}