// !gradient for text
@mixin textGradient($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// !обрезает текст до определенного кол-ва строк, остаток заменяет на 3 точки (...)
@mixin lineClamp($value) {
  display: -webkit-box;
  -webkit-line-clamp: $value;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


@mixin flex($vertical, $horizontal){
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
}

@mixin hover($color: #000){
  position: relative;
  padding: 0px 0px 5px 0px;
  
  &::after {
      content: '';
      position: absolute;
      height: 2px;
      left: 50%;
      bottom: 0;
      width: 0;
      background-color: $color;
      transition: all 0.3s;
  }

  &:hover::after {
      width: 100%;
      left: 0;
  }
}



