.footer {
    background-color: rgb(246, 246, 246);
    padding: 15px 0;
    margin: auto 0px 0px 0px;

    &-wrapper {}

    &-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 10%;

        &__list {}

        &__item {}
    }
}