.product {
    &-main {
        padding: 150px 0px 0px 0px;
    }

    &-box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 0 10%;
        padding: 50px 0;
    }

    &-swiper {
        cursor: pointer;

        &-wrapper {
            max-width: 550px;
        }

        &_sub {
            padding: 20px 0px 0px 0px;

            img {
                height: 25%;
                object-fit: cover;
            }
        }

        &__img {
            width: 100%;
            object-fit: cover;
        }
    }

    &-properties{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px 0;

        &__block{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px 0;
        }

        &__headline{
            text-align: center;
        }

        &__color {
            font-family: Titillium;
        }

        &__price {
            font-family: Titillium;
            font-size: 20px;
            font-weight: 600;
        }

        &__data {
            width: 450px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3vh 0;
        }
    }
}

.tab {
    &-list {
        list-style: disc !important;

        &__item {
            list-style: disc !important;
            margin: 5px 0;

            &_bold{
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 1200px) {
    .product{
        &-box{
            gap: 0;
        }
    }
}

@media (max-width: 1024px) {
    .product{
        &-box{
            flex-wrap:wrap;
            gap: 75px 0;
        }
    }
}

@media (max-width: 600px) {
    .product{

        &-swiper-wrapper{
            width: 90%;
        }

        &-properties{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 40px 0;

            &__data {
                width: 100%;
            }
        }

        &-tab{
            padding: 5px;
            min-width: 70px;
            font-size: 10px;
        }

        &-tabs-panel{
            width: 300px;
        }
    }
}

