.sort {
    width: 250px;
    position: relative;
    z-index: 10;
    background-color: white;

    &-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0 10px;
        padding: 10px 0;
        cursor: pointer;
        font-weight: 600;

        &::after {
            content: url('/public/images/arrow-down.svg');
            display: block;
            transform: rotate(-180deg);
            transition: 0.4s ease;
        }
    }

    &-body {
        position: absolute;
        top: 100%;
        background-color: white;
        display: none;
    }

    &_open {

        .sort-header {
            &::after {
                transform: rotate(0deg);
                transition: 0.4s ease;
            }
        }

        .sort-body {
            display: block;
        }
    }

}

.choice {
    width: 250px;
    padding: 10px;
    border-bottom: 0.5px solid rgb(238, 234, 234);
    cursor: pointer;

    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_active {

            &::after {
                content: url('/public/images/check.svg');
                display: block;
            }
        }
    }

    &:hover {
        background-color: rgb(241, 241, 241);
    }
}


@media (max-width: 1024px) {
    .sort {
        position: inherit;
        z-index: 10000;

        &_open {
            .sort-body {
                display: block;
                bottom: 0;
                transition: 0.3s ease;
            }
        }

        &-header {
            display: none;
        }

        &-body {
            display: block;
            position: fixed;

            top: inherit;
            bottom: -100%;
            left: 0;
            right: 0;
            border: 1px solid rgb(241, 241, 241);
            transition: 0.3s ease;
        }
    }

    .choice {
        width: 100%;

        &__text {
            display: flex;
            align-items: center;
            justify-content: center;

            &_active {
                justify-content: center;

                &::after {
                    content: url('/public/images/check.svg');
                    display: block;
                    position: absolute;
                    right: 50px;
                }
            }
        }
    }
}