.sizes {
    &-block {
        display: grid !important;
        align-items: center;
    }

    &-button {
        grid-column: span 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 43px;
        width: 90px;
        font-weight: 600 !important;
        color: rgb(26, 26, 26) !important;
        border-radius: 0 !important;
        font-weight: 600;
        border: 0 !important;
        box-shadow: rgb(238, 238, 238) 0px 0px 0px 1px;
    }
}


@media (max-width: 600px) {
    .sizes{
        &-block{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}