.footer {
    background-color: #fafafa;
    padding: 15px 0;
    margin: auto 0px 0px 0px;
    border-top: 1px solid rgb(229, 229, 229);

    &-subscribe {
        border-bottom: 1px solid rgb(229, 229, 229);

        &__wrapper {
            padding: 35px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 15%;
        }

        &__info {
            &-headline {
                padding: 10px 0;
            }

            &-text {
                font-family: Titillium;
            }
        }

        &__socials {
            margin: 40px 0px 0px 0px;
            display: inline-flex;
            gap: 0 10px;

            &-link {
                color: inherit;
            }
        }
    }

    &-navigation {
        padding: 50px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 0 10%;

        &__column-headline {
            margin: 0px 0px 10px 0px;
            text-align: center;
        }

        &__item {
            color: inherit;
            text-align: center;
        }
    }

    &-link {
        color: inherit;
        font-family: Titillium;
        transition: 0.3s ease;

        &:hover {
            color: #181818af;
            transition: 0.3s ease;
        }
    }
}

@media (max-width: 1024px) {
    .footer {

        &-links__wrapper {
            display: none;
        }

        &-subscribe {
            &__wrapper {
                gap: 0;
                justify-content: space-between;

            }
        }
    }
}


@media (max-width: 860px) {
    .footer {

        &-subscribe {
            &__wrapper {
                flex-direction: column;
                gap: 25px 0;
                text-align: center;
            }
        }
    }
}

@media (max-width: 480px) {}