.footer {
    background-color: #fafafa;
    padding: 15px 0;
    margin: auto 0px 0px 0px;
    border-top: 1px solid rgb(229, 229, 229);

    &-navigation {
        padding: 50px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 0 10%;

        &__column-headline {
            margin: 0px 0px 10px 0px;
            text-align: center;
        }

        &__item {
            color: inherit;
            text-align: center;
        }
    }

    &-link {
        color: inherit;
        font-family: Titillium;
        transition: 0.3s ease;

        &:hover {
            color: #181818af;
            transition: 0.3s ease;
        }
    }
}